*.idea/
db.sqlite3
.DS_Store
db.sqlite3.journal
*.pyc
python/
*.log
.coverage
nosetests.xml
celerybeat-schedule
tmpfile
media/*
cache/*
!.vc
*~
*journal
staticfiles/
dsserver/private.py
newrelic.ini
celerybeat-schedule.db
celerybeat.pid
staticfiles/*
!.vc
data/nfl.csv
